.contact-sec {
    background-color: #020617;
    padding: 96px 165px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-text {
    width: 461px;
    margin-bottom: 80px;
    text-align: center;
}

.contact-text>h3 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 24px;
}


.contact-text>h3>span {
    color: #FACC15;
}

.contact-text>p {
    font-size: 16px;
    color: #6B7280;
}

.contact-container {
    display: flex;
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.contact-info {
    width: 347px;
}

.contact-info>ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 16px;
}

.contact-info>ul>li>span.primery-span {
    color: #FACC15;
    line-height: 41px;
    font-size: 16px;
    font-weight: bold;
}

.contact-info>ul>li>span {
    line-height: 41px;
    font-size: 16px;
}


.contact-form {
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contact-form>input {
    height: 63px;
    background-color: #1F2937;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    outline: none;
    border: none;
}

.contact-form>textarea {
    height: 166px;
    background-color: #1F2937;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    outline: none;
    resize: vertical;
    border: none;
}

.contact-form>textarea::placeholder,
.contact-form>input::placeholder{
    color: white;
}